# coding: utf-8

"""
    Save.TV API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: v3
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class CredentialsPostApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def credentials_reminder(self, credentials_reminder, **kwargs):  # noqa: E501
        """Sends a reminder mail with the credentials for the account that matches the given email address.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.credentials_reminder(credentials_reminder, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SaveTVWebApiRequestModelsCredentialsReminder credentials_reminder: The credentials reminder. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.credentials_reminder_with_http_info(credentials_reminder, **kwargs)  # noqa: E501
        else:
            (data) = self.credentials_reminder_with_http_info(credentials_reminder, **kwargs)  # noqa: E501
            return data

    def credentials_reminder_with_http_info(self, credentials_reminder, **kwargs):  # noqa: E501
        """Sends a reminder mail with the credentials for the account that matches the given email address.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.credentials_reminder_with_http_info(credentials_reminder, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SaveTVWebApiRequestModelsCredentialsReminder credentials_reminder: The credentials reminder. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['credentials_reminder']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method credentials_reminder" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'credentials_reminder' is set
        if ('credentials_reminder' not in params or
                params['credentials_reminder'] is None):
            raise ValueError("Missing the required parameter `credentials_reminder` when calling `credentials_reminder`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'credentials_reminder' in params:
            body_params = params['credentials_reminder']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/xml'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth2']  # noqa: E501

        return self.api_client.call_api(
            '/v3/credentials/reminder', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
