# coding: utf-8

"""
    Save.TV API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: v3
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class FolxTvVideosGetApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def folx_tv_videos_download(self, id, record_format, **kwargs):  # noqa: E501
        """Downloads the specified identifier.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.folx_tv_videos_download(id, record_format, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: The identifier. (required)
        :param int record_format: The record format used for download.    Values:    4 = Mobile (480x270)    5 = SD (1024x576)    6 = HD (1280x720)    9 = Full-HD (1920x1280) (required)
        :return: SaveTVWebApiResponseModelsDownload
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.folx_tv_videos_download_with_http_info(id, record_format, **kwargs)  # noqa: E501
        else:
            (data) = self.folx_tv_videos_download_with_http_info(id, record_format, **kwargs)  # noqa: E501
            return data

    def folx_tv_videos_download_with_http_info(self, id, record_format, **kwargs):  # noqa: E501
        """Downloads the specified identifier.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.folx_tv_videos_download_with_http_info(id, record_format, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: The identifier. (required)
        :param int record_format: The record format used for download.    Values:    4 = Mobile (480x270)    5 = SD (1024x576)    6 = HD (1280x720)    9 = Full-HD (1920x1280) (required)
        :return: SaveTVWebApiResponseModelsDownload
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'record_format']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method folx_tv_videos_download" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `folx_tv_videos_download`")  # noqa: E501
        # verify the required parameter 'record_format' is set
        if ('record_format' not in params or
                params['record_format'] is None):
            raise ValueError("Missing the required parameter `record_format` when calling `folx_tv_videos_download`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501
        if 'record_format' in params:
            path_params['recordFormat'] = params['record_format']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth2']  # noqa: E501

        return self.api_client.call_api(
            '/v3/folxtvvideos/{id}/downloads/{recordformat}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SaveTVWebApiResponseModelsDownload',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def folx_tv_videos_get(self, **kwargs):  # noqa: E501
        """Retrieves all erotic videos.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.folx_tv_videos_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.folx_tv_videos_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.folx_tv_videos_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def folx_tv_videos_get_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieves all erotic videos.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.folx_tv_videos_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method folx_tv_videos_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth2']  # noqa: E501

        return self.api_client.call_api(
            '/v3/folxtvvideos', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
