# coding: utf-8

"""
    Save.TV API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: v3
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class TelecastsGetApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def telecasts_followers(self, id, **kwargs):  # noqa: E501
        """Retrieves the following telecasts for a telecast.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.telecasts_followers(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: The identifier of the telecast. (required)
        :param list[str] fields: Selects the fields that will be transmitted in the response. The field names are comma-separated, case-insensitive and will be trimmed.    The field \"id\" is always transmitted.    _The allowed field values:_    commentator,    country,    description,    director,    enddate,    episode,    existsrecord,    id,    imageurl100,    imageurl250,    imageurl500,    interpret,    isblackwhite,    ishighlight,    isomitted,    moderator,    rating,    roles,    roles.rolename,    roles.starid,    roles.starname,    slug,    startdate,    subject,    subtitle,    title,    tvcategory.id,    tvcategory.name,    tvstation.id,    tvstation.isrecordable,    tvstation.largelogourl,    tvstation.name,    tvstation.smalllogourl,    tvsubcategory.id,    tvsubcategory.name,    updatedate,    voluntaryselfregulationofthemovieindustry,    year
        :return: SaveTVWebApiResponseModelsPagedTelecastList
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.telecasts_followers_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.telecasts_followers_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def telecasts_followers_with_http_info(self, id, **kwargs):  # noqa: E501
        """Retrieves the following telecasts for a telecast.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.telecasts_followers_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: The identifier of the telecast. (required)
        :param list[str] fields: Selects the fields that will be transmitted in the response. The field names are comma-separated, case-insensitive and will be trimmed.    The field \"id\" is always transmitted.    _The allowed field values:_    commentator,    country,    description,    director,    enddate,    episode,    existsrecord,    id,    imageurl100,    imageurl250,    imageurl500,    interpret,    isblackwhite,    ishighlight,    isomitted,    moderator,    rating,    roles,    roles.rolename,    roles.starid,    roles.starname,    slug,    startdate,    subject,    subtitle,    title,    tvcategory.id,    tvcategory.name,    tvstation.id,    tvstation.isrecordable,    tvstation.largelogourl,    tvstation.name,    tvstation.smalllogourl,    tvsubcategory.id,    tvsubcategory.name,    updatedate,    voluntaryselfregulationofthemovieindustry,    year
        :return: SaveTVWebApiResponseModelsPagedTelecastList
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'fields']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method telecasts_followers" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `telecasts_followers`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []
        if 'fields' in params:
            query_params.append(('fields', params['fields']))  # noqa: E501
            collection_formats['fields'] = 'multi'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth2']  # noqa: E501

        return self.api_client.call_api(
            '/v3/telecasts/{id}/followers', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SaveTVWebApiResponseModelsPagedTelecastList',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def telecasts_get(self, **kwargs):  # noqa: E501
        """Retrieves the telecasts that match the filter condition.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.telecasts_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[int] dayofweeks: Selects only telecast whose start date matches the given day of weeks. The start date comparison is based on local time.    Values:    0 = Sunday    1 = Monday    2 = Tuesday    3 = Wednesday    4 = Thursday    5 = Friday    6 = Saturday
        :param str exacttitle: Selects only telecasts whose title matches exactly (but case insensitive) the given value.
        :param list[str] exacttitles: Selects only telecasts whose title matches exactly (but case insensitive) one of the given values.    When the parameter \"exactTitle\" is given too, the value of this parameter is ignored.    The titles are separated by a comma. Commas inside a title are escaped with \"\\,\" (1 back slash, 1 commma).    Example:    Title 1: Tatort    Title 2: Im Himmel, unter der Erde    Value: Tatort,Im Himmel\\, unter der Erde
        :param list[int] excludedtelecastids: A comma-separated list of telecast identifiers that will be ignored even if the other filter criterias would match these telecasts.
        :param list[int] excludedtvstations: A comma-separated list of TV station identifiers that must not match.
        :param list[str] fields: Selects the fields that will be transmitted in the response. The field names are comma-separated, case-insensitive and will be trimmed.    The field \"id\" is always transmitted.    _The allowed field values:_    commentator,    country,    description,    director,    enddate,    episode,    existsrecord,    id,    imageurl100,    imageurl250,    imageurl500,    interpret,    isblackwhite,    ishighlight,    isomitted,    moderator,    rating,    roles,    roles.rolename,    roles.starid,    roles.starname,    slug,    startdate,    subject,    subtitle,    title,    tvcategory.id,    tvcategory.name,    tvstation.id,    tvstation.isrecordable,    tvstation.largelogourl,    tvstation.name,    tvstation.smalllogourl,    tvsubcategory.id,    tvsubcategory.name,    updatedate,    voluntaryselfregulationofthemovieindustry,    year
        :param list[int] fsk: Selects only telecasts whose fsk matches the given value.    Values:    0 = Includes all ages from 0 to 5.    6 = Includes all ages from 6 to 11.    12 = Includes all ages from 12 to 15.    16 = Includes all ages from 16 to 17.    18 = Includes all ages from 18 and above.
        :param bool ishighlight: Determines whether the telecast must be an highlight or not.
        :param int limit: Sets the maximum number of items in result set.    The default value: 50.    The maximum allowed value: 2000.
        :param datetime maxenddate: The maximum end date of the telecast.    Date format: 2015-03-20 17:45:00Z
        :param datetime maxstartdate: The maximum start date of the telecast.    Date format: 2015-03-20 17:45:00Z
        :param str maxstarttime: The maximum start time of the telecast. The time is interpreted as local time. The given value is inclusive.    Time format: 17:30
        :param datetime minenddate: The minimum end date of the telecast.    Date format: 2015-03-20 17:45:00Z
        :param datetime minstartdate: The minimum start date of the telecast.    Date format: 2015-03-20 17:45:00Z
        :param str minstarttime: The minimum start time of the telecast. The time is interpreted as local time. The given value is inclusive.    Time format: 17:30
        :param bool nopagingheader: By default, the response object is a plain list of items and the paging metadata is put into the header.    Example header:     X-Total-Count: 403    X-Paging-Offset: 0    X-Paging-Limit: 20    When set to true, the response object is a complex object that contains the paging meta data and the items in 2 separate properties. The header does not contain additional values
        :param int offset: Sets the number of data items that are skipped in the result set.    The default value: 0.
        :param str q: The search text used for a text search.
        :param int searchtextscope: The scope defines the kind of the text search.    The default value is: 1    Values:     1 = search in all texts    2 = search in title and subtitle
        :param list[object] sort: Sets the sort properties. The values are comma-separated. To sort ascending add a \"+\" before the sort property, to sort descending add a \"-\" before the sort property.    When omitted, a default sorting is used.    Example: sort=+prop1,-prop2    Sorts first by prop1 ascending then by prop2 descending.    Allowed sort properties:    category    episode    startdate    subcategory    subtitle    title    tvstationposition    year    Default sorting:    +startdate,+tvstationposition
        :param list[int] starids: A comma-separated list of star identifiers.
        :param list[int] telecastids: A comma-separated list of telecast identifiers.
        :param int timeblock: A time block selects telecasts of one time range.    Values    1 = telecasts that start between 06:00 and 12:00, contains also the telecast that runs at 06:00    2 = telecasts that start between 06:00 and 12:00    3 = telecasts that start between 12:00 and 18:00    4 = telecasts that start between 18:00 and 00:00    5 = telecasts that start between 00:00 and 06:00    6 = telecasts that are running currently, one telecast per TV station    7 = telecasts that start after the currently running telecasts, one telecast per TV station    8 = telecasts that start between 20:15 and 20:30    9 = telecasts that start after 22:15
        :param list[int] timeblocks: A list of time blocks that selects telecasts of one time range.    Values:    1 = telecasts that start between 06:00 and 12:00, contains also the telecast that runs at 06:00    2 = telecasts that start between 06:00 and 12:00    3 = telecasts that start between 12:00 and 18:00    4 = telecasts that start between 18:00 and 00:00    5 = telecasts that start between 00:00 and 06:00    6 = telecasts that are running currently, one telecast per TV station    7 = telecasts that start after the currently running telecasts, one telecast per TV station    8 = telecasts that start between 20:15 and 20:30    9 = telecasts that start after 22:15    6 + 7 must be used exclusively, all others can be combined.
        :param list[int] tvcategories: A comma-separated list of TV category identifiers.
        :param list[int] tvstations: A comma-separated list of TV station identifiers.
        :param list[int] tvsubcategories: A comma-separated list of TV sub category identifiers.
        :return: SaveTVWebApiResponseModelsPagedTelecastList
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.telecasts_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.telecasts_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def telecasts_get_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieves the telecasts that match the filter condition.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.telecasts_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[int] dayofweeks: Selects only telecast whose start date matches the given day of weeks. The start date comparison is based on local time.    Values:    0 = Sunday    1 = Monday    2 = Tuesday    3 = Wednesday    4 = Thursday    5 = Friday    6 = Saturday
        :param str exacttitle: Selects only telecasts whose title matches exactly (but case insensitive) the given value.
        :param list[str] exacttitles: Selects only telecasts whose title matches exactly (but case insensitive) one of the given values.    When the parameter \"exactTitle\" is given too, the value of this parameter is ignored.    The titles are separated by a comma. Commas inside a title are escaped with \"\\,\" (1 back slash, 1 commma).    Example:    Title 1: Tatort    Title 2: Im Himmel, unter der Erde    Value: Tatort,Im Himmel\\, unter der Erde
        :param list[int] excludedtelecastids: A comma-separated list of telecast identifiers that will be ignored even if the other filter criterias would match these telecasts.
        :param list[int] excludedtvstations: A comma-separated list of TV station identifiers that must not match.
        :param list[str] fields: Selects the fields that will be transmitted in the response. The field names are comma-separated, case-insensitive and will be trimmed.    The field \"id\" is always transmitted.    _The allowed field values:_    commentator,    country,    description,    director,    enddate,    episode,    existsrecord,    id,    imageurl100,    imageurl250,    imageurl500,    interpret,    isblackwhite,    ishighlight,    isomitted,    moderator,    rating,    roles,    roles.rolename,    roles.starid,    roles.starname,    slug,    startdate,    subject,    subtitle,    title,    tvcategory.id,    tvcategory.name,    tvstation.id,    tvstation.isrecordable,    tvstation.largelogourl,    tvstation.name,    tvstation.smalllogourl,    tvsubcategory.id,    tvsubcategory.name,    updatedate,    voluntaryselfregulationofthemovieindustry,    year
        :param list[int] fsk: Selects only telecasts whose fsk matches the given value.    Values:    0 = Includes all ages from 0 to 5.    6 = Includes all ages from 6 to 11.    12 = Includes all ages from 12 to 15.    16 = Includes all ages from 16 to 17.    18 = Includes all ages from 18 and above.
        :param bool ishighlight: Determines whether the telecast must be an highlight or not.
        :param int limit: Sets the maximum number of items in result set.    The default value: 50.    The maximum allowed value: 2000.
        :param datetime maxenddate: The maximum end date of the telecast.    Date format: 2015-03-20 17:45:00Z
        :param datetime maxstartdate: The maximum start date of the telecast.    Date format: 2015-03-20 17:45:00Z
        :param str maxstarttime: The maximum start time of the telecast. The time is interpreted as local time. The given value is inclusive.    Time format: 17:30
        :param datetime minenddate: The minimum end date of the telecast.    Date format: 2015-03-20 17:45:00Z
        :param datetime minstartdate: The minimum start date of the telecast.    Date format: 2015-03-20 17:45:00Z
        :param str minstarttime: The minimum start time of the telecast. The time is interpreted as local time. The given value is inclusive.    Time format: 17:30
        :param bool nopagingheader: By default, the response object is a plain list of items and the paging metadata is put into the header.    Example header:     X-Total-Count: 403    X-Paging-Offset: 0    X-Paging-Limit: 20    When set to true, the response object is a complex object that contains the paging meta data and the items in 2 separate properties. The header does not contain additional values
        :param int offset: Sets the number of data items that are skipped in the result set.    The default value: 0.
        :param str q: The search text used for a text search.
        :param int searchtextscope: The scope defines the kind of the text search.    The default value is: 1    Values:     1 = search in all texts    2 = search in title and subtitle
        :param list[object] sort: Sets the sort properties. The values are comma-separated. To sort ascending add a \"+\" before the sort property, to sort descending add a \"-\" before the sort property.    When omitted, a default sorting is used.    Example: sort=+prop1,-prop2    Sorts first by prop1 ascending then by prop2 descending.    Allowed sort properties:    category    episode    startdate    subcategory    subtitle    title    tvstationposition    year    Default sorting:    +startdate,+tvstationposition
        :param list[int] starids: A comma-separated list of star identifiers.
        :param list[int] telecastids: A comma-separated list of telecast identifiers.
        :param int timeblock: A time block selects telecasts of one time range.    Values    1 = telecasts that start between 06:00 and 12:00, contains also the telecast that runs at 06:00    2 = telecasts that start between 06:00 and 12:00    3 = telecasts that start between 12:00 and 18:00    4 = telecasts that start between 18:00 and 00:00    5 = telecasts that start between 00:00 and 06:00    6 = telecasts that are running currently, one telecast per TV station    7 = telecasts that start after the currently running telecasts, one telecast per TV station    8 = telecasts that start between 20:15 and 20:30    9 = telecasts that start after 22:15
        :param list[int] timeblocks: A list of time blocks that selects telecasts of one time range.    Values:    1 = telecasts that start between 06:00 and 12:00, contains also the telecast that runs at 06:00    2 = telecasts that start between 06:00 and 12:00    3 = telecasts that start between 12:00 and 18:00    4 = telecasts that start between 18:00 and 00:00    5 = telecasts that start between 00:00 and 06:00    6 = telecasts that are running currently, one telecast per TV station    7 = telecasts that start after the currently running telecasts, one telecast per TV station    8 = telecasts that start between 20:15 and 20:30    9 = telecasts that start after 22:15    6 + 7 must be used exclusively, all others can be combined.
        :param list[int] tvcategories: A comma-separated list of TV category identifiers.
        :param list[int] tvstations: A comma-separated list of TV station identifiers.
        :param list[int] tvsubcategories: A comma-separated list of TV sub category identifiers.
        :return: SaveTVWebApiResponseModelsPagedTelecastList
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['dayofweeks', 'exacttitle', 'exacttitles', 'excludedtelecastids', 'excludedtvstations', 'fields', 'fsk', 'ishighlight', 'limit', 'maxenddate', 'maxstartdate', 'maxstarttime', 'minenddate', 'minstartdate', 'minstarttime', 'nopagingheader', 'offset', 'q', 'searchtextscope', 'sort', 'starids', 'telecastids', 'timeblock', 'timeblocks', 'tvcategories', 'tvstations', 'tvsubcategories']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method telecasts_get" % key
                )
            params[key] = val
        del params['kwargs']

        if ('maxstarttime' in params and
                len(params['maxstarttime']) > 5):
            raise ValueError("Invalid value for parameter `maxstarttime` when calling `telecasts_get`, length must be less than or equal to `5`")  # noqa: E501
        if ('minstarttime' in params and
                len(params['minstarttime']) > 5):
            raise ValueError("Invalid value for parameter `minstarttime` when calling `telecasts_get`, length must be less than or equal to `5`")  # noqa: E501
        collection_formats = {}

        path_params = {}

        query_params = []
        if 'dayofweeks' in params:
            query_params.append(('dayofweeks', params['dayofweeks']))  # noqa: E501
            collection_formats['dayofweeks'] = 'multi'  # noqa: E501
        if 'exacttitle' in params:
            query_params.append(('exacttitle', params['exacttitle']))  # noqa: E501
        if 'exacttitles' in params:
            query_params.append(('exacttitles', params['exacttitles']))  # noqa: E501
            collection_formats['exacttitles'] = 'multi'  # noqa: E501
        if 'excludedtelecastids' in params:
            query_params.append(('excludedtelecastids', params['excludedtelecastids']))  # noqa: E501
            collection_formats['excludedtelecastids'] = 'multi'  # noqa: E501
        if 'excludedtvstations' in params:
            query_params.append(('excludedtvstations', params['excludedtvstations']))  # noqa: E501
            collection_formats['excludedtvstations'] = 'multi'  # noqa: E501
        if 'fields' in params:
            query_params.append(('fields', params['fields']))  # noqa: E501
            collection_formats['fields'] = 'multi'  # noqa: E501
        if 'fsk' in params:
            query_params.append(('fsk', params['fsk']))  # noqa: E501
            collection_formats['fsk'] = 'multi'  # noqa: E501
        if 'ishighlight' in params:
            query_params.append(('ishighlight', params['ishighlight']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'maxenddate' in params:
            query_params.append(('maxenddate', params['maxenddate']))  # noqa: E501
        if 'maxstartdate' in params:
            query_params.append(('maxstartdate', params['maxstartdate']))  # noqa: E501
        if 'maxstarttime' in params:
            query_params.append(('maxstarttime', params['maxstarttime']))  # noqa: E501
        if 'minenddate' in params:
            query_params.append(('minenddate', params['minenddate']))  # noqa: E501
        if 'minstartdate' in params:
            query_params.append(('minstartdate', params['minstartdate']))  # noqa: E501
        if 'minstarttime' in params:
            query_params.append(('minstarttime', params['minstarttime']))  # noqa: E501
        if 'nopagingheader' in params:
            query_params.append(('nopagingheader', params['nopagingheader']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'q' in params:
            query_params.append(('q', params['q']))  # noqa: E501
        if 'searchtextscope' in params:
            query_params.append(('searchtextscope', params['searchtextscope']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501
            collection_formats['sort'] = 'multi'  # noqa: E501
        if 'starids' in params:
            query_params.append(('starids', params['starids']))  # noqa: E501
            collection_formats['starids'] = 'multi'  # noqa: E501
        if 'telecastids' in params:
            query_params.append(('telecastids', params['telecastids']))  # noqa: E501
            collection_formats['telecastids'] = 'multi'  # noqa: E501
        if 'timeblock' in params:
            query_params.append(('timeblock', params['timeblock']))  # noqa: E501
        if 'timeblocks' in params:
            query_params.append(('timeblocks', params['timeblocks']))  # noqa: E501
            collection_formats['timeblocks'] = 'multi'  # noqa: E501
        if 'tvcategories' in params:
            query_params.append(('tvcategories', params['tvcategories']))  # noqa: E501
            collection_formats['tvcategories'] = 'multi'  # noqa: E501
        if 'tvstations' in params:
            query_params.append(('tvstations', params['tvstations']))  # noqa: E501
            collection_formats['tvstations'] = 'multi'  # noqa: E501
        if 'tvsubcategories' in params:
            query_params.append(('tvsubcategories', params['tvsubcategories']))  # noqa: E501
            collection_formats['tvsubcategories'] = 'multi'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth2']  # noqa: E501

        return self.api_client.call_api(
            '/v3/telecasts', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SaveTVWebApiResponseModelsPagedTelecastList',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def telecasts_get_0(self, id, **kwargs):  # noqa: E501
        """Retrieves a single telecast with the given identifier.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.telecasts_get_0(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: The identifier of the telecast. (required)
        :param list[str] fields: Selects the fields that will be transmitted in the response. The field names are comma-separated, case-insensitive and will be trimmed.    The field \"id\" is always transmitted.    _The allowed field values:_    commentator,    country,    description,    director,    enddate,    episode,    existsrecord,    id,    imageurl100,    imageurl250,    imageurl500,    interpret,    isblackwhite,    ishighlight,    isomitted,    moderator,    rating,    roles,    roles.rolename,    roles.starid,    roles.starname,    slug,    startdate,    subject,    subtitle,    title,    tvcategory.id,    tvcategory.name,    tvstation.id,    tvstation.isrecordable,    tvstation.largelogourl,    tvstation.name,    tvstation.smalllogourl,    tvsubcategory.id,    tvsubcategory.name,    updatedate,    voluntaryselfregulationofthemovieindustry,    year
        :return: SaveTVWebApiResponseModelsTelecast
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.telecasts_get_0_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.telecasts_get_0_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def telecasts_get_0_with_http_info(self, id, **kwargs):  # noqa: E501
        """Retrieves a single telecast with the given identifier.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.telecasts_get_0_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: The identifier of the telecast. (required)
        :param list[str] fields: Selects the fields that will be transmitted in the response. The field names are comma-separated, case-insensitive and will be trimmed.    The field \"id\" is always transmitted.    _The allowed field values:_    commentator,    country,    description,    director,    enddate,    episode,    existsrecord,    id,    imageurl100,    imageurl250,    imageurl500,    interpret,    isblackwhite,    ishighlight,    isomitted,    moderator,    rating,    roles,    roles.rolename,    roles.starid,    roles.starname,    slug,    startdate,    subject,    subtitle,    title,    tvcategory.id,    tvcategory.name,    tvstation.id,    tvstation.isrecordable,    tvstation.largelogourl,    tvstation.name,    tvstation.smalllogourl,    tvsubcategory.id,    tvsubcategory.name,    updatedate,    voluntaryselfregulationofthemovieindustry,    year
        :return: SaveTVWebApiResponseModelsTelecast
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'fields']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method telecasts_get_0" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `telecasts_get_0`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []
        if 'fields' in params:
            query_params.append(('fields', params['fields']))  # noqa: E501
            collection_formats['fields'] = 'multi'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth2']  # noqa: E501

        return self.api_client.call_api(
            '/v3/telecasts/{id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SaveTVWebApiResponseModelsTelecast',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def telecasts_get_suggestions(self, **kwargs):  # noqa: E501
        """Provides suggestions for the telecast search text.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.telecasts_get_suggestions(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str q:
        :return: list[SaveTVWebApiResponseModelsSuggestion]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.telecasts_get_suggestions_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.telecasts_get_suggestions_with_http_info(**kwargs)  # noqa: E501
            return data

    def telecasts_get_suggestions_with_http_info(self, **kwargs):  # noqa: E501
        """Provides suggestions for the telecast search text.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.telecasts_get_suggestions_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str q:
        :return: list[SaveTVWebApiResponseModelsSuggestion]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['q']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method telecasts_get_suggestions" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'q' in params:
            query_params.append(('q', params['q']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth2']  # noqa: E501

        return self.api_client.call_api(
            '/v3/telecasts/suggestions', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[SaveTVWebApiResponseModelsSuggestion]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def telecasts_telecast_list_ids(self, id, **kwargs):  # noqa: E501
        """Retrieves telecasts for a telecast list id.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.telecasts_telecast_list_ids(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: The identifier of the telecast list. (required)
        :param list[str] fields: Selects the fields that will be transmitted in the response. The field names are comma-separated, case-insensitive and will be trimmed.    The field \"id\" is always transmitted.    _The allowed field values:_    commentator,    country,    description,    director,    enddate,    episode,    existsrecord,    id,    imageurl100,    imageurl250,    imageurl500,    interpret,    isblackwhite,    ishighlight,    isomitted,    moderator,    rating,    roles,    roles.rolename,    roles.starid,    roles.starname,    slug,    startdate,    subject,    subtitle,    title,    tvcategory.id,    tvcategory.name,    tvstation.id,    tvstation.isrecordable,    tvstation.largelogourl,    tvstation.name,    tvstation.smalllogourl,    tvsubcategory.id,    tvsubcategory.name,    updatedate,    voluntaryselfregulationofthemovieindustry,    year
        :return: SaveTVWebApiResponseModelsPagedTelecastList
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.telecasts_telecast_list_ids_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.telecasts_telecast_list_ids_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def telecasts_telecast_list_ids_with_http_info(self, id, **kwargs):  # noqa: E501
        """Retrieves telecasts for a telecast list id.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.telecasts_telecast_list_ids_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: The identifier of the telecast list. (required)
        :param list[str] fields: Selects the fields that will be transmitted in the response. The field names are comma-separated, case-insensitive and will be trimmed.    The field \"id\" is always transmitted.    _The allowed field values:_    commentator,    country,    description,    director,    enddate,    episode,    existsrecord,    id,    imageurl100,    imageurl250,    imageurl500,    interpret,    isblackwhite,    ishighlight,    isomitted,    moderator,    rating,    roles,    roles.rolename,    roles.starid,    roles.starname,    slug,    startdate,    subject,    subtitle,    title,    tvcategory.id,    tvcategory.name,    tvstation.id,    tvstation.isrecordable,    tvstation.largelogourl,    tvstation.name,    tvstation.smalllogourl,    tvsubcategory.id,    tvsubcategory.name,    updatedate,    voluntaryselfregulationofthemovieindustry,    year
        :return: SaveTVWebApiResponseModelsPagedTelecastList
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'fields']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method telecasts_telecast_list_ids" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `telecasts_telecast_list_ids`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []
        if 'fields' in params:
            query_params.append(('fields', params['fields']))  # noqa: E501
            collection_formats['fields'] = 'multi'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth2']  # noqa: E501

        return self.api_client.call_api(
            '/v3/telecasts/telecastlistids/{id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SaveTVWebApiResponseModelsPagedTelecastList',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def telecasts_user_recommendations(self, id, **kwargs):  # noqa: E501
        """Retrieves the user recommendations for a TV category.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.telecasts_user_recommendations(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: The identifier of the TV category. (required)
        :param list[str] fields: Selects the fields that will be transmitted in the response. The field names are comma-separated, case-insensitive and will be trimmed.    The field \"id\" is always transmitted.    _The allowed field values:_    commentator,    country,    description,    director,    enddate,    episode,    existsrecord,    id,    imageurl100,    imageurl250,    imageurl500,    interpret,    isblackwhite,    ishighlight,    isomitted,    moderator,    rating,    roles,    roles.rolename,    roles.starid,    roles.starname,    slug,    startdate,    subject,    subtitle,    title,    tvcategory.id,    tvcategory.name,    tvstation.id,    tvstation.isrecordable,    tvstation.largelogourl,    tvstation.name,    tvstation.smalllogourl,    tvsubcategory.id,    tvsubcategory.name,    updatedate,    voluntaryselfregulationofthemovieindustry,    year
        :return: SaveTVWebApiResponseModelsPagedTelecastList
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.telecasts_user_recommendations_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.telecasts_user_recommendations_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def telecasts_user_recommendations_with_http_info(self, id, **kwargs):  # noqa: E501
        """Retrieves the user recommendations for a TV category.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.telecasts_user_recommendations_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: The identifier of the TV category. (required)
        :param list[str] fields: Selects the fields that will be transmitted in the response. The field names are comma-separated, case-insensitive and will be trimmed.    The field \"id\" is always transmitted.    _The allowed field values:_    commentator,    country,    description,    director,    enddate,    episode,    existsrecord,    id,    imageurl100,    imageurl250,    imageurl500,    interpret,    isblackwhite,    ishighlight,    isomitted,    moderator,    rating,    roles,    roles.rolename,    roles.starid,    roles.starname,    slug,    startdate,    subject,    subtitle,    title,    tvcategory.id,    tvcategory.name,    tvstation.id,    tvstation.isrecordable,    tvstation.largelogourl,    tvstation.name,    tvstation.smalllogourl,    tvsubcategory.id,    tvsubcategory.name,    updatedate,    voluntaryselfregulationofthemovieindustry,    year
        :return: SaveTVWebApiResponseModelsPagedTelecastList
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'fields']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method telecasts_user_recommendations" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `telecasts_user_recommendations`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []
        if 'fields' in params:
            query_params.append(('fields', params['fields']))  # noqa: E501
            collection_formats['fields'] = 'multi'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth2']  # noqa: E501

        return self.api_client.call_api(
            '/v3/telecasts/userrecommendations/{id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SaveTVWebApiResponseModelsPagedTelecastList',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
